body {
  background-color: rgb(164, 158, 158);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;

  font-weight: 600;
}

span {
  font-weight: 600;
  margin-bottom: 5px;
}
input {
  width: 250px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
}

.qr__div {
  height: 150px;
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 10px 0 10px 0;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 7px;
  display: none;
}

img {
  width: 100%;
}

button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
button:hover {
  transform: translateY(-1px);
  background-color: hsl(221, 83%, 53%);
}
button:active {
  background-color: rgb(10, 143, 10);
}
